.beneficios {
    background-color: map-get($colors, rosa_Pastel_Terciario);
    padding: 1rem;

    
    

    .titles-beneficios {
        @include font-sub-title(1.5rem);
        text-align: center;
        border-bottom: 2px solid;
        letter-spacing: 5px;
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    li {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;        
        width: 280px;
        height: 280px;
        border: 2px solid map-get($colors , secundaria_Roxo);
        border-radius: 10px 10px 30px 10px;
        padding: 1rem;
        background-color: map-get($colors, rosa_Pastel_Secundario);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        &:hover {
            background-color: map-get($colors, rosa_Pastel_Primario);
        }

        .circle-icon {
            background-color: white;
            border: 2px solid map-get($colors, secundaria_Roxo);
            align-self: initial;
            border-radius: 50%;
            padding: 19px;
            width: 90px;
            height: 90px;
            top: 65%; /* Posiciona o círculo verticalmente no meio */
            left: 20%;
            transform: translateY(-80%);/* Corrige o deslocamento vertical */
        }

        .img{
            
        }

        .resumo-beneficio{
            text-align: center;
        }
    }



    button {
        width: 10px;
    }

    strong {
        @include font-sub-title(25px);
        letter-spacing:3px;
    }  


}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .beneficios {
        .list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}