@import './chamada';
@import './beneficios';
@import './pack-promocional';
@import './sobre';

button {
    @include button;

    box-sizing: content-box;

    &:hover {
        transition: 500ms;
        padding: 10px 20px;
        transform: translateY(-0px);
        background: linear-gradient(147deg, #25cc00 0%, #2c8503 100%);
        color: #2e3740;
        border: solid 2px #586659;
    }
}





.rodape{
    background-color: #ad0a85;

    .information {
        background-color: rgba(#9ab0da, 0.5);
    }
}