.sobre {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    .sobre-cris {
        @include span;
    }

    .borda-imagem {
        width: 200px;
        /* Largura do contêiner */
        height: 200px;
        /* Altura do contêiner */
        border-radius: 50%;
        /* Transforma o contêiner em um círculo */
        overflow: hidden;
        /* Oculta qualquer parte da imagem que ultrapasse os limites do contêiner */

        img {
            width: 100%;
            /* Garante que a imagem preencha todo o contêiner */
            height: 100%;
            /* Garante que a imagem preencha todo o contêiner */
            object-fit: cover;
            /* Faz com que a imagem preencha o contêiner sem distorção */

        }
    }

    .frase-intro {
        @include font-sub-title(33px);
    }


    .list-pontos-fortes {
        li {
            @include list-style
        }
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .sobre {
        .section-details {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;

            .borda-imagem {
                width: 13rem;
                height: 350px;
                border-radius: 66px;
                -webkit-box-shadow: 6px 6px 14px 0px rgba(0, 0, 0, 0.65);
                -moz-box-shadow: 6px 6px 14px 0px rgba(0, 0, 0, 0.65);
                box-shadow: 6px 6px 14px 0px rgba(0, 0, 0, 0.65);
            }

            .text-overlay {
                max-width: 550px;
                margin-right: 10px;

            }


        }

        .list-pontos-fortes {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

    }


}