$colors: (
    rosa_Pastel_Primario: #E7C3BA,
    rosa_Pastel_Secundario: #EBCBC2,
    rosa_Pastel_Terciario: #EFD3CB,
    secundaria_Roxo: #BDB2E3,
    secundaria_Verde: #AADEB4,
    textos-Gerais: #3b302d
);

