@import './vars';
@import './header';
@import './main';


h1 {
 font-size: 40px;
 font-weight: 700;
}

h2 {
    font-size: 33px;
    font-weight: 600;
}

h3 {
    font-size: 23px;
    font-weight: 400;
}

strong {
    font-size: 20px;
    font-weight: 400;
}