@import './vars';
@import './header';
@import './main';


body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: map-get($colors, textos-Gerais );
  }


h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

p {
    margin-top: 0;
    line-height: 30px;
  }

strong {
    font-size: 15px;
    font-weight: bold;
}

.redes-sociais{
  display: flex;
  gap: 0.5rem;

  .iconContainer{
      width:20px;
      
  }

  .sr-only {
      display: none;
  }
}